* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
}

#fieldset1 {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #f50606;
    border-radius: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
    background: rgb(75, 197, 206);
}

#fieldset2 {
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(4, 250, 147);
    border: 1px solid #ee04b3;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(252, 250, 250);
}

form {
    max-width: 500px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background: rgb(221, 243, 28);
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

#submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #1303f7;
}

#tableData {
    margin-top: 20px;
}
